@use 'base/variables' as v;
@use 'base/mixins' as m;

.eventos-registro {
    @include m.contenedor;
    @include m.tablet {
        display: flex;
        gap: 2rem;
        align-items: flex-start;    
    }


    &__listado {
        @include m.tablet {
            flex: 0 0 60%;
        }
    }

    &__grid {
        @include m.grid(1, 3rem);
        @include m.tablet {
            @include m.grid(2, 3rem);
        }
    }

    &__heading {
        &--conferencias,
        &--workshops {
            @include m.texto-fluido(2rem, 4rem);
            white-space: nowrap;
        }

        &--conferencias {
            color: v.$azul;
        }

        &--workshops {
            margin-top: 5rem;
            color: v.$secundario;
        }
    }

    &__fecha {
        margin: 6rem 0 3rem 0;
        font-weight: v.$bold;
        text-decoration:overline;
    }
}


.registro {
    background-color: v.$gris-claro;
    padding: 3rem;
    border-radius: 1rem;

    @include m.tablet {
        flex: 0 0 40%;
        position: -webkit-sticky;
        position: sticky;
        top: 3rem;
    }

    &__heading {
        margin: 0 0 3rem 0;
    }

    &__evento {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        &:nth-child(even) {
            background-color: darken(v.$gris-claro, 3);
        }
    }

    &__nombre {
        font-size: 2rem;
        font-weight: v.$bold;
        margin: 0;
    }

    &__eliminar {
        all: unset;
        color: v.$rojo;

        &:hover {
            cursor: pointer;
        }
    }

    &__texto {
        text-align: center;
    }

    &__regalo {
        margin-top: 3rem;
    }

    &__label {
        display: block;
        font-size: 2.2rem;
        font-weight: v.$bold;
        margin-bottom: 1rem;
    }

    &__select {
        width: 100%;
        background-color: v.$blanco;
        border: 1px solid v.$gris;
        padding: 1rem;
        border-radius: 1.5rem;    
    }
}